/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
    position: absolute;
    right: 0;
    top: 64px;
    z-index: 0;
  }