.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    opacity: 1;
    transition: opacity 1s linear;
  }
  
  .feynman__link:hover{
    opacity: 0.5;
  }