.kaufman__triangle {
    width: 877px;
    height: 877px;
    background-image: url(../../../images/kaufman-triangle.svg);
    background-size: 877px 877px;
    position: absolute;
    top: 0;
    right: -210px;
    z-index: 0;
  }