.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  color: #000000;
  background-color: #f2f2f2;
}

.logo_place_header {
  width: 228px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 2;
}

.header__title {
  width: 730px;
  align-self: center;
  padding-right: 0;
  padding-left: 64px;
  padding-bottom: 0;
  padding-top: 0;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: center;
  color: #000000;
  background-color: #ffffff;
  padding-top: 100px;
  box-sizing: border-box;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.digits {
  padding-top: 100px;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
}

.section-title {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  padding: 0;
}

.section-subtitle {
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  padding: 0;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
  margin: 0;
}

.table__heading {
  margin-bottom: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-child {
  margin-bottom: 0;
}

.feynman {
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  position: relative;
  color: #000000;
  padding-top: 100px;
  box-sizing: border-box;
}

.feynman__title {
  width: 648px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  padding: 0;
}

.feynman__link {
  position: absolute;
  height: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
}

.section-title_theme_dark {
  width: 60%;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  padding: 0;
  z-index: 1;
  color: #ffffff
}

.section-subtitle_theme_dark {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
  z-index: 1;
  color: #ffffff
}

.table_theme_dark {
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  color: #ffffff
}

.table__text_theme_dark {
  margin-bottom: 20px;
  color: #ffffff
}

.table__text_theme_dark:last-child {
  margin-bottom: 0;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  width: 228px;
  height: 32px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}